<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 offset1">
      <div class=" well">
        <h2>TRUCK INFO</h2>
        <%= render 'trucks/new' %>
      </div>
    </div><!-- /s3o3 -->
  </div><!-- /row-fluid -->
</div><!-- /container-fluid-->