<div class="container-fluid">
  <div class="row-fluid" >
    <div class="span12">
        <h2>TRUCK INFO</h2>
    </div>
  </div>

  <%= render 'form' %>
  
  <div class="row-fluid">
    <div class="span12">
      <%= link_to 'Back', trucks_path %>
    </div>
  </div>

</div>
